$btnColor :#262424;
$color1 :#000000;
$color2 :#000000;
$color3 :#AA7D73;
$color4 :#ffffff;
$colorWhite :#ffffff;
// $titleColor :#AE8986;
$titleColor :#000000;
$footerBg :#dcc1c0;
// $headerType2Color :#a36c6a;
// $headerType2Color :rgb(214, 170, 172);
$headerType2Color :#202823;
// $newThemeColor : #a36b69;
$newThemeColor : #000;
$headerMenuColor : #fff;
$font_Cormorant: 'Cormorant Garamond', serif;
$font_Roboto: 'Roboto', sans-serif;
$font_opensans: 'Open Sans', sans-serif;
$font_Lato: 'Lato', sans-serif;
